@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: var(--font-pretendard);
}
/* globals.css에 직접 추가하여 테스트 */
@layer utilities {
  /* 더 높은 specificity를 위해 */
  html .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  html .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}
